[submodule "WPS-Excel-Replace-Tool"]
	path = WPS-Excel-Replace-Tool
	url = https://github.com/Gladys00/WPS-Excel-Replace-Tool.git
[submodule "Ledgerforge"]
	path = Ledgerforge
	url = https://github.com/Gladys00/Ledgerforge.git
